.ipynb_checkpoints
__pycache__
detector_flujo_urbano/videos_originales
nor_occidente.mp4
nor_oriente.mp4
Puente_guambra2.mp4
sur_occidente.mp4
sur_oriente.mp4
modelo_ROI/cache
detector_flujo_urbano\parametros\__pycache__
